* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
}

.header__logo {
  margin: 60px;
}

.header__a {
  display: flex;
  justify-content: flex-end;
  margin-top: -99px;
  margin-right: -550px;
}

.header__a a {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #B3B3BA;
  text-decoration: none;
  margin-left: 7px;
  transition: 0.5s ease;
}

.header__a a:hover {
  background-color: #F5F5FA;
}

.head__span {
  width: 33px;
  height: 25px;
  border-radius: 8px;
  background-color: #F0145A;
}

.header__divider {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
  margin-right: -545px;
}

.navigation a:hover {
  border-bottom: 4px solid #F0145A;
  font-weight: 700;
}

.navigation a {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #24A3FF;
  text-decoration: none;
  margin-right: 15px;
  transition: 0.5s ease;
}

.nav__span {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #F0145A;
}

.hero__section {
  display: flex;
  justify-content: space-between;
  background-color: #F5F5FA;
}

.hero {
  margin: 60px;
}

.section__button {
  display: flex;
  justify-content: center;
  width: 233px;
  height: 42px;
  border-radius: 12px;
  background-color: #E6E6F0;
}

.button-1 {
  width: 105px;
  height: 38px;
  border-radius: 10px;
  background-color: #fff;
  border-style: none;
  cursor: pointer;
  margin-right: 77px;
  margin-top: 2px;
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #323264;
}

.button-2 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #323264;
  margin-top: 11px;
}

.hero__text {
  background-color: #fff;
  width: 420px;
  height: 210px;
  margin-top: -3px;
  border-radius: 0 0 8px 8px;
}

.hero img {
  width: 420px;
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.hero__text a {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #24A3FF;
  text-decoration: none;
  transition: 0.5s ease;
}

.hero__text a:hover {
  border-bottom: 3px solid #24A3FF;
}

.hero__text h5 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 12px;
  color: #B3B3BA;
  margin-top: 15px;
}

.hero__text p {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-top: 15px;
}

.hero__long {
  content: "";
  width: 360px;
  height: 4px;
  background-color: #E6E6F0;
}

.section-more-publ {
  background-color: #F5F5FA;
  margin-left: 1100px;
}

.section-more-publ button {
  width: 211px;
  height: 56px;
  border-radius: 12px;
  border-style: none;
  background-color: #24A3FF;
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s linear;
}

.section-more-publ button:hover {
  background-color: #2e5ae7;
}

footer {
  background-color: #F5F5FA;
}

.footer__style {
  display: inline-flex;
  justify-content: flex-start;
}

.footer__title {
  margin-left: 60px;
}

.footer__nav {
  margin-top: 30px;
  margin-left: -265px;
}

.span-1 {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 16px;
  color: #323264;
  text-decoration: none;
  transition: 0.5s ease;
}

.span-1:hover {
  opacity: 0.5;
}

.span-2 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 12px;
  color: #24A3FF;
  text-decoration: none;
  transition: 0.5s ease;
}

.span-2:hover {
  opacity: 0.5;
}

.span-3 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #323264;
  text-decoration: none;
  transition: 0.5s ease;
}

.span-3:hover {
  opacity: 0.5;
}

.span-4 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  color: #24A3FF;
  text-decoration: none;
  transition: 0.5s ease;
}

.span-4:hover {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
